<!-- Cargando datos -->
<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Cargando detalles...</p>
  </div>
</ng-template>

<!-- Tarjeta con la información -->
<div *ngIf="pokemon; else loading" class="pokemon-card">
  <div class="pokemon-header">
    <h1 class="pokemon-name">{{ pokemon.name }}</h1>
    <p class="flavor-text">{{ pokemon.flavorText || 'Descripción no disponible' }}</p>
  </div>

  <div class="pokemon-body">
    <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" class="pokemon-image" />
    
    <div class="pokemon-info">
      <p><strong>Nombre:</strong> {{ pokemon.name }}</p>
      <p><strong>Generación:</strong> {{ pokemon.generation || 'No disponible' }}</p>
      <p><strong>ID:</strong> #{{ pokemon.id }}</p>
      <p><strong>Altura:</strong> {{ pokemon.height / 10 }} m</p>
      <p><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</p>
      <p><strong>Tipos:</strong> {{ formattedTypes || 'No disponible' }}</p>
      <p><strong>Habilidades:</strong> {{ abilities || 'No disponible' }}</p>
      <p><strong>Hábitat:</strong> {{ pokemon.habitat || 'No disponible' }}</p>
      <p><strong>Ubicaciones:</strong> {{ locations.join(', ') || 'No disponible' }}</p>

    </div>
  </div>
</div>
